/* .App { */
  /* text-align: center; */
/* }// */
body{
  background-color: lightcyan;
}
/* my css */
.container{
  padding-top:30px ;
  padding-bottom: 30px;
  /* background-color: grey; */
  width: 80%;
  margin-left: 10%;
}
.padd{
  padding:20px;
}
.article{
  padding-top: 10px;
  padding-bottom: 10px;
  width:100%;
  background-color: whitesmoke;
  margin-top: 20px;
  border-radius: 10px;
}
.padd-article{
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.news-img{
  width: 27%;
  height: 200px;
  /* background-color: green; */
  display: flex;
}
.news-img>img{
  width: 100%;
}
.news-detail{
  height: 200px;
  width: 70%;
  /* background-color: yellow; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 20px;
  padding-top: 10px;
  box-shadow: 0 0 2px grey;
}

h2,p{
  margin: 0px;

}
p:nth-child(2){
  margin-bottom: 15px;
  columns: grey;
  font-size: 17px;
  font-weight: bold;
}
p:nth-child(3){
color: grey;
margin-bottom: 20px;
}
.btn{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family:'Segoe UI';
  border: none;
  color: white;
  background-color: #1279e4;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}
/* //////filter css//////// */
.filter{
  height: 90px;
  width: 100%;
  /* background-color: red; */
}
input{
 height: 50px;
 width: 100%;
 font-size: 18px;
 text-indent: 20px;
 margin-top: 10px;
 margin-bottom: 10px;
 display: inline-block;
 border-radius: 10px;
 outline: none;
 border: 1px solid grey;
}
/* /////////////// */

/* /////////////////////// */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
